.product_table {
    border: 1px solid black;
}

.product_table th {
    background-color: brown;
    color: wheat;
}

.product_table tfoot td {
    background-color: azure;
    font-weight: bold;
}

.text-center {text-align: center; }
.text-right {text-align: right; }

.center {
    margin-left: auto;
    margin-right: auto;
}