.product_table {
    border: 1px solid black;
}

.product_table th {
    background-color: brown;
    color: wheat;
    font-weight: bolder;
}

.product_table tbody {
    background-color: palevioletred;
    border-left: 1px solid azure;
    border-bottom: 1px solid azure;
}

.product_table tfoot {
    background-color: beige;
}


.text-center {
    text-align: center; 
}

.text-right {
    text-align: right; 
}

.center {
    margin-left: auto;
    margin-right: auto;
}