.product_table {
    border: 1px solid black;
}

.product_table th {
    background-color: rgb(180, 222, 186);
    color: rgb(141, 97, 17);
    font-weight: bolder;
}

.product_table tbody {
    background-color: rgb(204, 227, 239);
    
}

.product_table tfoot {
    background-color: beige;
    font-weight: bold;
}


.text-center {
    text-align: center; 
}

.text-right {
    text-align: right; 
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.name-header {
    font-style: normal;
}

.icon {
    width: 1em;
}

.icon-btn {
    background-color: #ADD8E6;
    border: none;
}
